<footer class="py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">
      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
      </div>
      <div class="col-12 col-sm-4 text-left py-2 order-sm-2">
        <p>
          All contents published under a 
          <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0 license</a>. 
          {% if site.repo %}
          <a href="{{ site.repo }}">Contributions welcome via GitHub</a>.
          {% endif %}
        </p>
        {% if site.privacy %}<small class="ml-1"><a href="{{ site.privacy }}" target="_blank">Privacy Policy</a></small>{% endif %}
      </div>
    </div>
  </div>
</footer>
